######################
# Node
######################
node_modules/
dist/

######################
# IntelliJ
######################
.idea/

######################
# Visual Studio Code
######################
.vscode/*

######################
# Mac OSX
######################
.DS_Store

######################
# Logs
######################
*.log*